.lista-paquetes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1rem;
}

.paqueteCard {
    margin-bottom: 20px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    margin: 0 auto;
    box-shadow:   0 4px 8px #023047;
   
}